.scrollable {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	height: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 0;
}

.titleWrapper {
	position: relative;
	z-index: 1;
	align-items: center;
	grid-gap: 1rem;
	line-height: 1;
	padding-top: 60px;
	background-color: #213743;
}

.pageTitle {
	z-index: 1500;
	color: white;
	font-family: proxima-nova, sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
}

.imgBg {
	z-index: 1500;
	width: auto;
}

.central {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 12%;
	margin-right: 10%;
}

.cardWrapper {
	display: flex;
	flex-direction: column;
	margin-left: 12%;
	margin-right: 10%;
	margin-bottom: -5%;
	padding-bottom: 20px;
}

.contentWrapper {
	margin: 30px auto;

	display: flex;
	gap: 3px;
}

.bgWrapper {
	background-color: #1a2c38;
}

.mainTitle {
	font-size: 1.25rem;
	color: white;
	margin-top: 20px;
	font-weight: 600;
	font-family: proxima-nova, sans-serif;
}

.timeDescrip {
	color: #b1bad3;
	font-family: proxima-nova, sans-serif;
	font-size: 12px;
	margin: 8px 0 0;
}

.gameTitle {
	color: white;
	font-family: proxima-nova, sans-serif;
	font-size: 20px;
	margin: 8px 0 0;
	font-weight: 600;
}

.imgFoto {
	border-radius: 0.25rem;
	margin-bottom: 20px;
}

.imgFoto:hover {
	transform: translate(0, -10px);
	transition: all 0.3s ease 0s;
}

.depositBtnActive {
	color: #fff;
	background: #2f4553 !important;
	box-shadow: none !important;
	padding: 0.75em 1em;
	justify-content: flex-start;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	appearance: none;
	margin: 0;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: 100px;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
	outline: none;
}

.depositBtnDisabled {
	color: #fff;
	background: #0f212e;
	box-shadow: none !important;
	padding: 0.75em 1em;
	justify-content: flex-start;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	appearance: none;
	margin: 0;
	border: none;
	cursor: pointer;
	touch-action: manipulation;
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: 100px;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 0.2s, color 0.2s;
	flex-shrink: 0;
	outline: none;
}

.depositBtnDisabled:hover {
	background: #2f4553;
}

.depositBtnDisabled:active {
	opacity: 0.5;
}

.walletBtnText {
	display: inline-flex;
	position: relative;
	align-items: center;
}
